#text {
  width: 95%;
}

.hidden {
  display: none;
}

.category {
  margin: 0.5em;
}

.goods {
  background-color:darkkhaki;
  display: flex;
  justify-content: space-between;
}

[name=object] {
  width: 90%;
}